@keyframes arrow {
  0% {
    transform: translate(-50%, 0);
    animation-timing-function: ease-out;
  }

  10% {
    transform: translate(-50%, -15%);
    animation-timing-function: ease-in;
  }

  17% {
    transform: translate(-50%, -5%);
    animation-timing-function: ease-out;
  }

  33% {
    transform: translate(-50%, -20%);
    animation-timing-function: ease-in;
  }

  45% {
    transform: translate(-50%, 20%);
    animation-timing-function: ease-out;
  }

  55% {
    transform: translate(-50%, 0);
    animation-timing-function: ease-in;
  }
}