$color-font-primary: #fff;
$color-font-secondary: #5b5b5b;
$color-addons-primary: #ce7354;
$color-addons-secondary: #b5dae7;
$color-addons-tertiary: #e4e4ef;

$enable-grid-classes: false;
$enable-cssgrid: true;